version: 2
updates:
  # Maintain dependencies for Python
  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: monthly
    assignees:
      - "ezio-melotti"
    groups:
      pip:
        patterns:
          - "*"
    cooldown:
      default-days: 7

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: monthly
    assignees:
      - "ezio-melotti"
    groups:
      actions:
        patterns:
          - "*"
    cooldown:
      default-days: 7
