aiohttp==3.8.4
appdirs==1.4.4
async-timeout==4.0.2
cachetools==5.3.0
chardet==5.1.0
gidgethub==5.2.1
multidict==6.0.4
packaging==23.0
pyparsing==3.0.9
six==1.16.0
uritemplate==4.1.1
yarl==1.8.2
sentry-sdk==1.16.0
