aiohttp==3.6.2
appdirs==1.4.4
async-timeout==3.0.1
cachetools==4.1.1
chardet==3.0.4
gidgethub==4.1.1
multidict==4.7.6
packaging==20.4
py==1.9.0
pyparsing==2.4.7
six==1.15.0
-e git://github.com/python-hyper/uritemplate.git@68064e2e8f60687674071f9c791603b0ae6a76a4#egg=uritemplate
yarl==1.5.1
sentry-sdk==0.17.5
