aiohttp==3.8.5
appdirs==1.4.4
async-timeout==4.0.2
cachetools==5.3.1
chardet==5.1.0
gidgethub==5.3.0
multidict==6.0.4
packaging==23.1
pyparsing==3.1.0
six==1.16.0
uritemplate==4.1.1
yarl==1.9.2
sentry-sdk==1.29.0
